/* body sera el color del fondo */
body{
  background: white;

}

div{
  width: 200px;
  height: 120px;
}

/* .yellow y .black son mis selectores de clase */
.yellow {
  background-color: #FFCC00;
}

.black{
  background-color: black;
  color: white;
  margin: 10px 0 10px;
}
